[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EstimationTools"]
	path = EstimationTools
	url = https://github.com/jaimemosg/estimationtools
